table {
    margin: auto;
}

th,td {
    border: solid;
    color: black;
    padding: 8px;
    width: 120px;
}

.detalhes {
    cursor: pointer;
    color: blue;
    border-color: black;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    margin-right: 15px;
}

.funcs:hover { 
    background-color: grey;
    cursor: pointer;
}

