<div class="tabela">
    <table>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Filial</th>
            <th scope="col">Data de admissão</th>
            <th scope="col">Cargo</th>
            <th scope="col">Salário</th>
            <th scope="col">Link para Informações</th>
            <th scope="col">Remover</th>
        </tr>
        <tr class="funcs" (click)="selecionarFuncionario(funcionario)" *ngFor="let funcionario of funcionarios">
            <td>{{funcionario.nome}}</td>
            <td>{{funcionario.filial | filial}}</td>
            <td>{{funcionario.dataAdmissao | date:'dd/MM/yyyy'}}</td>
            <td>{{funcionario.cargo}}</td>
            <td>{{funcionario.salario | currency:'BRL'}}</td>
            <td class="detalhes" (click)="mostrarDetalhes(funcionario)">Ver detalhes</td>
            <td class="detalhes" (click)="removerEspecifico(funcionario, $event)">Remover</td>
        </tr>
    </table>
    
</div>

<div class="buttons">
    <button (click)="removerUltimo()" type="button">Remover ultimo</button>
    <button (click)="removerPrimeiro()" type="button">Remover primeiro</button>
    <button (click)="removerTodos()" type="button">Remover todos</button>
    <button (click)="addFuncionario()" type="button">Adicionar</button>
</div>

<app-detalhes-funcionario *ngIf="funcionarioSelecionado" [funcionario]="funcionarioSelecionado" (deselecionar)="funcionarioSelecionado = null"></app-detalhes-funcionario>
<router-outlet></router-outlet>